
<main>
  <center>
    <div class="section"></div>
    <div class="section"></div>
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'col s12') do |f| %>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
              <em class="white-text">6 characters minimum</em>
            </div>
          </div>

            <% if devise_mapping.rememberable? -%>
            <div class='row'>
              <div class='input-field col s12'>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            </div>
            <% end -%>

            <center>
              <div class='row'>
              <%= f.submit "Log in", :class => 'col s12 btn btn-large waves-effect blue-grey darken-4' %>
              </div>
            </center>
          <% end %>
        </div>
      </div>
            <%= render "devise/shared/links" %>
    </center>
  </main>

  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background: #263238;
    }

    main {
      flex: 1 0 auto;
    }


    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: rgb(73, 73, 73);
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid rgb(59, 96, 167);
      box-shadow: none;
    }
  </style>





  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
